<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style media="screen">
      body {
   background-image: url("static/book-review.jpg");
   background-color: #cccccc;
   background-position: center;
  }
    .center_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:auto;
}
.checked {
  color: orange;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body class="background">
    <!-- --------------------------navigation - bar---------------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BookReview</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto  mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('signout')}}">Sign out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search')}}">search</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ---------------------- content ---------------------------- -->
<div class="container">
  <div class="row jumbotron">
    <div class="col-lg-6 col-xs-12">
      <h2>Title : {{book.title}}</h2>
      <h2>Author : {{book.author}}</h2>
      <h3>ISBN : {{book.isbn}}</h3>
      <h3>Publication Year : {{book.year}}</h3>
      <!-- <p>No. of ratings:{{rating}}</p> -->
      <p>Average rating : {{avg_rate}}</p>
      </div>
      <form action="{{url_for('reviews',book_id=book.id)}}" method="post" class="col-lg-6 col-xs-12">
        <div class="form-group">
          <label for="rating">Rate This book*</label>
          <select name="rating" required id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <p></p>
          Say somethhing* <br>
          <textarea name="review" required></textarea><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <!-- ----------------------reviews------------------------------- -->
    {% for review in reviews %}
    <div class="container jumbotron">
      <h3>{{review.username}}</h3>
      {% for i in range(review.rating) %}
      <span class="fa fa-star checked"></span>
      {% endfor %}
      <p>{{review.review}}</p>
    </div>
    {% endfor %}
</body>
