<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      body {
   background-image: url("static/book-review.jpg");
   background-color: #cccccc;
   background-position: center;
  }
    .center_div{
    text-align: center;
    width: 300px;
    height:auto;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body class="background">
    <!-- --------------------------navigation - bar---------------------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BookReview</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto  mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('signout')}}">Sign out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search')}}">search</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ---------------------------- book search ------------------------------- -->
<div class="container center_div">
  <form class="jumbotron" action="{{url_for('books')}}" method=post>
    <div class="form-group">
      <label for="search"><strong>Find your read</strong></label>
      <input type="text" class="form-control" id="search" name="query" placeholder="Book name/ISBN/Author" required>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
  </body>
</html>
